header, footer{
    padding: 3px;
    text-align:center;
    font-size:2em;
    background-color:rgb(247, 245, 242);
    color:rgb(58, 87, 108);
    margin: 2%;
    font-weight:600;
    font-family:'Courier New', Courier, monospace
}

html, body{
    height:100%;
    width: 100%;
    overflow-x:hidden;
    background-image: url("images/bluebg.gif");
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:.95em;
    opacity:97%;
    color:darkolivegreen
}

.wrapper{
    overflow-x:hidden;
    float:none;
    display:inline-block;
    position:absolute;
}

#petit-dejeuner:hover{
    opacity:90%
}

.entrybtns button{
    margin-top:1rem
}